$page-layout-max-width: 1440px;

$page-layout-horizontal-margin: 3rem;
$mobile-page-layout-horizontal-margin: 1rem;

$content-for-page-layout-max-width: 27.5rem;
$content-for-error-pages-max-width: 27.5rem;

$mobile-navigation-height: 3rem;
