$top-paid-badge-z-index: 1;
$carousel-arrows-z-index: 2;
$footer-z-index: 4;
$autocomplete-menu-z-index: 4;
$mobile-navigation-z-index: 5;
$header-subnavigation-z-index: 6;
$modal-backdrop-z-index: 7;
$modal-content-z-index: 8;
$header-subnavigation-main-link-z-index: $header-subnavigation-z-index + 1;
$drawer-z-index: 4;
$photo-library-overlay-z-index: 1;
$photo-library-overlay-zoom-button-z-index: 2;
$social-input-url-z-index: 1;
$social-input-remove-button-z-index: 2;
