$disabled-element-opacity: 0.5;
$regular-border-radius: 0;

$button-border-radius: $regular-border-radius;
$input-border-radius: $regular-border-radius;
$border-width: 1px;
$input-border-size: $border-width;
